<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
    <menu id="root-menu" label="Openbox 3">
        <item label="gimp">
            <action name="Execute">
                <command>gimp</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="urxvt">
            <action name="Execute">
                <command>urxvt</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <separator/>
        <item label="Log Out">
            <action name="Exit">
                <prompt>
					yes
                </prompt>
            </action>
        </item>
    </menu>
</openbox_menu>